.message {
    display: flex;
    padding: 16px 20px;
}

.message-avatar {

}

.message-photo {

}

.message-content {

}

.message-author {

}

.message-body {

}

.message-text {
    word-wrap: break-word;
    white-space: pre-wrap
}

.message-fwd_wrap {
    border-Left: 2px solid #000000;
}

.message-date {
    
}
